.nvBlockContainer {
}

.svg-image {
  background-image: url('./h3.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.svg-image span[data-text=true] {
  color: transparent;
}

.nvGutter {
  background: white;
  /*font-size: 14px;*/
  -webkit-user-select: none;
  /*pointer-events: none;*/
  cursor: pointer;
  text-align: center;
  float: left;
  margin-left: 18px;
}

.nvGutter strong {
  font-size: 13px;
  font-weight: 500;
  color: darkgrey;
}

.nvGutter em {
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: darkgrey;
}

.nvText {
  margin-left: 40px;
}

.nv-root {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 15px;
}


.nv-editor {
  cursor: text;
  font-size: 16px;
  line-height: normal;
}

.nv-editor > h1, h2, h3, h4, h5, h6 {
  margin-top: 8px;
  margin-bottom: 4px;
}

.nv-editor h3 {
  font-size: 15px;
  font-weight: 500;
}

.nv-editor h2 {
  font-size: 18px;
  font-weight: 500;
}

.nv-editor h1 {
  font-size: 21px;
  font-weight: 500;
}

.nv-preview-container.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.nv-editor .public-DraftEditorPlaceholder-root,
.nv-editor .public-DraftEditor-content {
  padding: 0px 15px 0px 15px;
  font-family: 'Avenir Next';
  font-size: 14px;
}

.nv-editor .public-DraftEditor-content {
  min-height: 100px;
}

.nv-editor .nv-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.nv-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
  position: relative;
}

.nv-editor .public-DraftStyleDefault-pre > pre {
  margin: 0px;
}

.public-DraftStyleDefault-ol, .public-DraftStyleDefault-ul {
  margin: 8px 0;
}

.nv-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.nv-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
}

.nv-activeButton {
  color: #5890ff;
}

.md-bold {
  font-weight: bold;
}

.md-italic {
  font-style: italic;
}
